@Html.Partial("_jqGrid")
<style>
    .tempwidth {
        width: 40% !important;
    }

    .status {
        width: 100% !important;
    }

    .adname {
        width: 25.7% !important;
    }

    img.floatleft {
        margin: 0 2px 0 -1px !important;
    }

    #txtClubHouse {
        width: 50% !important;
    }

    .toast-container {
        z-index: 99999999 !important;
    }

    #page-wrap {
        margin: 0;
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }

    tr.tr-highlighted { background: #e0f8e0 !important; transition: 200ms linear; }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        $('#rs_mlist1').hide();

        $(".choose_inner_department").addClass("tempwidth");

        bindJqGridMin('list1', 'pager1', 'GetCourseListing',
                   ['ID', 'Select', 'Course Name', 'Club House Name', 'Hole', 'Score Card (9/18)', 'Setup Score Card (9/18)', 'Active'],
                   [{ name: 'ID', index: 'ID', width: 10, hidden: true },
                    { name: 'COURSE_NAME', index: 'COURSE_NAME', width: 10, formatter: SetSelectLink },
                    { name: 'COURSE_NAME', index: 'COURSE_NAME', width: 70, formatter: SetEditLink },
                    { name: 'CLUB_HOUSE', index: 'CLUB_HOUSE', width: 70, hidden: true },
                    { name: 'HOLE', index: 'HOLE', width: 20 },
                    { name: 'SCORECARD', index: 'SCORECARD', width: 50 },
                    { name: 'EID', index: 'EID', width: 50, formatter: SetScoreCardSetupLink },
                    { name: 'STATUS', index: 'STATUS', width: 20, formatter: SetStatusCheckBox }
                   ], 'ID', 'desc',
                {
                    "searchText": "",
                    "cityName": ""
                }, '');

        $('#btnAddNew').click(function () {
            $("#addNew").click();
        });

        $("#addNew").fancybox({
            'hideOnOverlayClick': true,
            'scrolling': 'no',
            'onStart': function () {
                $("#fancybox-content").addClass("clsfancyboxcontent");
                $("#fancybox-wrap").addClass("clsfancyboxwrap");

                $("#divProgress").hide();
                $("#myModalCourse").css("display", "block");
            },
            'onClosed': function () {
                $("#fancybox-content").removeClass("clsfancyboxcontent");
                $("#fancybox-wrap").removeClass("clsfancyboxwrap");
                $("#txtCourseName").val("");
                $("#ddlHole").val("");
                $('#hdnEID').val("");
                $("#cmn-toggle-1a").attr("checked", "checked");
                $("#cmn-toggle-1a").attr("data-value", "1");

                $(".clsCourseAdmin").each(function () {
                    $(this).hide();
                });
            }
        });
    });

    function savedata() {
        var message = "";

        var clubHouseID = parseInt($("#hdnClubHouseID").val());
        if (clubHouseID <= 0) {
            message = message + "Please select Club house.\n"
        }

        if ($("#txtCourseName").val() == "") {
            message = message + "Please enter Course name.\n"
        }

        if ($("#ddlHole").val() == "") {
            message = message + "Please select Hole.\n"
        }

        if (message == "") {
            $.ajax({
                type: 'POST',
                url: '/Golfler/Admin/AddCourseInfo',
                data: {
                    EID: $("#hdnEID").val(),
                    ClubHouseID: $("#hdnClubHouseID").val(),
                    CourseName: $("#txtCourseName").val(),
                    Hole: $("#ddlHole").val(),
                    Status: $("#Active").val()
                },
                success: function (data) {
                    if (data.status == 1) {
                        showMessage(data.msg);
                        $.fancybox.close();
                        $("#list1").trigger("reloadGrid", [{ current: true }]);
                    }
                    else {
                        showStickMessage(data.msg);
                    }
                }
            });
            return false;
        }
        else {
            alert(message);
            return false;
        }
    }

    function DeleteCourse() {
        try {
            DeleteMultiple('list1', '@Url.Action("DeleteCoursesInfo")');
        }
        catch (ex) { alert(ex.message); }
    }

    function SetEditLink(cellvalue, options, rowObject) {
        try {
            var id = rowObject["ID"];
            var Eid = rowObject["EID"];
            var ClubHouseID = rowObject["ClubHouseID"];
            var ClubHouse = rowObject["CLUB_HOUSE"];
            var CourseName = rowObject["COURSE_NAME"];
            var Status = rowObject["STATUS"];
            var Hole = rowObject["HOLE"];

            if ($('#UpdateFlag').size() != 0 && $('#UpdateFlag').val() != "True")
                return cellvalue;
            else {
                if (id == '@Golfler.Models.LoginInfo.CourseId') {
                    return "<a href='CoursesUpdate' >" + cellvalue + "</a>";
                }
                else {
                    return "<a href='javascript:void(0);' data-hole='" + Hole + "' data-eid='" + Eid + "' data-chid='" + ClubHouseID + "' data-chouse='" + ClubHouse + "' data-cname='" + CourseName + "' data-status='" + Status + "' onclick='javascript:editdata(this);' >" + cellvalue + "</a>";
                }
            }
        }
        catch (ex) { alert(ex.message); }
    }

    function editdata(ele) {
        var Eid = $(ele).attr('data-eid');
        var ClubHouseID = $(ele).attr('data-chid');
        var ClubHouse = $(ele).attr('data-chouse');
        var CourseName = $(ele).attr('data-cname');
        var Status = $(ele).attr('data-status') == 'A' ? 'True' : 'False';
        var Hole = $(ele).attr('data-hole');

        $('#hdnEID').val(Eid);
        $("#hdnClubHouseID").val(ClubHouseID);
        $("#txtCourseName").val(CourseName);
        $("#ddlHole").val(Hole);
        $('#txtClubHouse').val(ClubHouse);
        $("#Active").val(Status);
        if (Status == 'False') {
            $('#cmn-toggle-1a').prop('checked', false);
            $('#cmn-toggle-1a').attr('data-value', '0');
        }

        $("#addNew").click();
    }

    function SetSelectLink(cellvalue, options, rowObject) {
        try {
            var id = rowObject["ID"];
            var CourseName = rowObject["COURSE_NAME"];

            return "<a href='javascript:void(0);' data-id='" + id + "' data-cname='" + CourseName + "' onclick='javascript:selectRow(this);' >Select Course</a>";
        }
        catch (ex) { alert(ex.message); }
    }

    function selectRow(ele) {
        $('.ui-widget-content').removeClass('tr-highlighted');
        var row = $(ele).closest('tr');
        $(row).toggleClass('tr-highlighted');

        var cID = $(ele).attr('data-id');
        $('#lblCourseName').text($(ele).attr('data-cname'));

        $.ajax({
            type: 'POST',
            url: '/Golfler/CourseAdmin/SelectCourse',
            data: { CourseID: cID },
            success: function (data) {
                location.reload();
            }
        });
    }

    function SetScoreCardSetupLink(cellvalue, options, rowObject) {
        try {
            var Eid = rowObject["EID"];
            var id = rowObject["ID"];

            if (id == '@Golfler.Models.LoginInfo.CourseId') {
                return "<a href='CoursesUpdate' >Click here to setup</a>";
            }
            else {
                return "<a href='CourseScoreCard/" + Eid + "'>Click here to setup</a>";
            }
        }
        catch (ex) { alert(ex.message); }
    }

    function SetStatusCheckBox(cellvalue, options, rowObject) {
        try {
            var rowId = rowObject["ID"];
            var type = rowObject["Type"];

            var onclickCall = "onclick=javascript:UpdateStatusCheckBox(" + rowId + ",&apos;" + cellvalue.trim() + "&apos;);";

            if (rowId != '@Golfler.Models.LoginInfo.CourseId') {
                if ($('#UpdateFlag').size() != 0 && $('#UpdateFlag').val() != "True") {
                    if (cellvalue == "A" || cellvalue == true)
                        return '<div class="selected-row"><div class="switch"><input id="cmn-toggle-' + rowId + 'a" class="cmn-toggle cmn-toggle-round" type="checkbox" onclick="NonAccessMsg();" checked="checked"><label for="cmn-toggle-' + rowId + 'a"></label></div></div>';
                    else
                        return '<div class="selected-row"><div class="switch"><input id="cmn-toggle-' + rowId + 'a" class="cmn-toggle cmn-toggle-round" type="checkbox" onclick="NonAccessMsg();" ><label for="cmn-toggle-' + rowId + 'a"></label></div></div>';

                }

                if (cellvalue.trim() == "A" || cellvalue == true)
                    return '<div class="selected-row"><div class="switch"><input id="cmn-toggle-' + rowId + 'a" class="cmn-toggle cmn-toggle-round" type="checkbox" ' + onclickCall + ' checked="checked"><label for="cmn-toggle-' + rowId + 'a"></label></div></div>';
                else
                    return '<div class="selected-row"><div class="switch"><input id="cmn-toggle-' + rowId + 'a" class="cmn-toggle cmn-toggle-round" type="checkbox" ' + onclickCall + ' ><label for="cmn-toggle-' + rowId + 'a"></label></div></div>';
            }
            else {
                return "N/A";
            }
        }
        catch (ex) {
            alert(ex.message);
        }
    }

    function UpdateStatusCheckBox(id, status) {
        try {
            UpdateStatus('UpdateCourseStatus', 'Golfler/Admin', id, status, 'list');
            $("#list1").trigger("reloadGrid", [{ current: true }]);
        }
        catch (ex) { alert(ex.message); }
    };
</script>
<tr>
    <td id="content_center_td2" valign="top" align="center">
        <div class="form_box">
            <div class="search-advertiser">
                <a href="#myModalCourse" id="addNew" class="blu-btn leftmargin_3" action="add"></a>
                <input type="button" id="btnAddNew" value="Add New Courses" class="blu-btn leftmargin_3" action="add" />
                <input id="aDeletePopup" type="button" value="Delete" onclick="DeleteCourse();" class="delete blk-btn margin_bottom5" action="delete" />
            </div>
            <div class="clr">
            </div>
            <div id="page-wrap">
                <table id="list1" cellpadding="0" cellspacing="0" style="width: 100%;" class="jqgridTable">
                </table>
                <div id="pager1" style="width: 100%;">
                </div>
                <input type="hidden" id="hdnId" value='@Golfler.Models.LoginInfo.UserId' />
            </div>
            <div class="clr">
            </div>
        </div>
    </td>
</tr>

<input type="hidden" id="hdnEID" value="" />
<div id="myModalCourse" class="reveal-modal clsCourseAdmin" style="display: none; top: 100px;">
    <div id="content_div" class="form_box organization_form">
        <div style="margin: 0px 0px 0px 0px;">
            <div class="organization_left">
                <h2>Update Course</h2>
            </div>
            <div class="clr">
            </div>
            <div class="organization_left">
                <label>Club House</label>
                <div class="courseAutoComplete">
                    @Html.Partial("~/Views/Tools/ClubHouseAutoComplete.cshtml")
                </div>
            </div>
            <div class="organization_left">
                <label>Course Name</label>
                <div class="courseAutoComplete">
                    <input type="text" id="txtCourseName" name="CourseName" class="userfeilder red-border" maxlength="50" />
                </div>
            </div>
            <div class="clr">
            </div>
            <div class="organization_left">
                <p class="tpspacing">
                    <label>Select Hole</label>
                    <select id="ddlHole">
                        <option value="">Select</option>
                        <option value="9">9 Hole</option>
                        <option value="18">18 Hole</option>
                    </select>
                </p>
            </div>
            <div class="organization_left">
                <p class="tpspacing">
                    <label>Active</label>
                    <span class="selected-row">
                        <span class="switch">
                            <input id="cmn-toggle-1a" data-result-id="Active" class="cmn-toggle cmn-toggle-round" type="checkbox" data-value="1" checked="checked" />
                            <label for="cmn-toggle-1a"></label>
                            <input type="hidden" name="Active" id="Active" value="True" />
                        </span>
                    </span>
                </p>
            </div>
            <div class="clr">
            </div>
        </div>
        <div class="clr">
        </div>
        <div align="center" class="center-button">
            <input type="button" id="btnSubmitCourseAdmin" class="submit-btn update-btn" onclick="javascript: savedata();" name="btnSubmit" value="Submit" />
            <input type="button" id="btnCancelCourseAdmin" class="submit-btn cancel-btn" onclick="$.fancybox.close();" value="Cancel" />
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#txtClubHouse').val('@Golfler.Models.LoginInfo.CourseName');
        $('#txtClubHouse').attr('disabled', true);
        $('#hdnClubHouseID').val('@Golfler.Models.LoginInfo.CourseId');
    });
</script>
