@using Golfler.Models
@model Golfler.Models.LogInModel
<script>
   
    var usertype = "";
  
    var Redirect = window.location.pathname.toLowerCase().replace("Forgot/", "").replace("Forgot", "");
    $(document).ready(function ()
    {
       

        var url = window.location.pathname.toLowerCase();
        if (url.indexOf("courseadmin") > -1)
        {
            Redirect = "/Golfler/CourseAdmin/";
            usertype = "0";
            $("#txtEmail").attr("placeholder", "User Name");

        }
        else if (url.indexOf("golfer") > -1) {
            Redirect = "/Golfler/Golfer/";
            usertype = "1";
            $("#txtEmail").attr("placeholder", "Email");
        }
        else {
            Redirect = "/Golfler/Admin/";
            usertype = "0";
            $("#txtEmail").attr("placeholder", "User Name");
        }
       
        var sitepath = '@Golfler.Models.ConfigClass.SiteUrl'
          //  alert(sitepath);
        //  Redirect = "http://localhost:2015" + Redirect;
        Redirect = sitepath + Redirect;
        $("#btnCancel").attr('href', Redirect);
    });
    //function cancel() {
    //    debugger;
    //    alert(Redirect);
    //    window.location.href ="http://localhost:2015/"+ Redirect;
    //}
    function submit() {

        if ($("#txtEmail").val() != "") {
            //
            var email = $("#txtEmail").val();
          //  debugger;
            $.ajax({
                type: 'POST',
                async: false,
                url: '/Golfler/Golfer/ForgotPasswordMail',
                data: { email: email, type: usertype },
                success: function (data) {

                    if (data.result == "1")
                    {
                        var msg = "An email has been sent to you to reset your password.";//"Your temporary password has been sent to " + data.Email;
                        showMessage(msg);
                        $("#txtEmail").val("");
                    }
                    else if (data.result == "-1")
                    {
                        if (usertype == 0) {
                            showStickMessage('User Name does not exists.');
                        }
                        else {
                            showStickMessage('Email address does not exists.');
                        }
                       
                    }
                    else if (data.result == "0")
                    {
                        showStickMessage('Some error occurs while sending mails.');
                        $("#txtEmail").val("");
                    }
                 
                    else
                    {
                        showStickMessage('Some error occurs, please try again later.');
                        $("#txtEmail").val("");
                    }
                }
            });

            //
        }
        else
        {
            //   alert("Please enter email.")
            if (usertype == "0")
            {
                showStickMessage('Please enter User Name.');
            }
            else
            {
                showStickMessage('Please enter Email.');
            }
        }
    }



</script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/placeholders.min.js")" type="text/javascript"></script>


<link rel="stylesheet" type="text/css" href="../../../../Content/css/style.css" />

<div class="loginbg">
    <div class="login_page">
        <div class="login_left">
            <a href="#">
                <img src="~/images/bears.png" border="0" alt="golfler" />
            </a>
        </div>
        <div class="login_right">
            <div class="blue-circle">
                <div class="blue-circle_inner">
                    <div class="white-feild">
                        <img src="../../../../Content/Images/icon_login.png" />
                      
                        @Html.TextBoxFor(m => m.Email, new { maxlength = "50", id = "txtEmail", @class = "login"})
                        @Html.ValidationMessageFor(m => m.Email)

                    </div>
                    <div class="clr">
                    </div>


                </div>
                <div class="login_btn">
                    <input id="btnSubmit" class="login-btn" type="Submit" value="Submit" onclick="submit();" />

                </div>
                <div class="forget_txt">
                    <a id="btnCancel"  href="">Cancel</a>
                    <input type="hidden" id="hdnUrlPath" />
                </div>

            </div>
        </div>
        <div class="clr">
        </div>
    </div>
    <div class="clr">
    </div>

</div>


