@{
    ViewBag.Module = "Processed Refunded List";
    ViewBag.Title = "Processed Refunded List";
    ViewBag.pageTitle = "Processed Refunded List";
}
@Html.Partial("_jqGrid")
<style>
    .tempwidth
    {
        width: 40% !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $(".choose_inner_department").addClass("tempwidth");
    });

    function BindData() {

        var chkResult1 = false; var chkResult2 = false;
        var IsOrders;
        if ($('#Orders').is(':checked')) {
            chkResult1 = true;
            IsOrders = 1;
        }
        else if ($('#RefundedOrders').is(':checked')) {
            chkResult1 = true;
            IsOrders = 0;
        }
        else {
            chkResult1 = false;
        }
        if (chkResult1) {
            var selectedCoursse = "";
            debugger;
            if ($('#hdnCourseId').val() != "")
            {
                selectedCoursse = $('#hdnCourseId').val();
                $("#CourseId").val(selectedCoursse);
            }
            else {
                 selectedCoursse = $('#CourseId').val();
            }
            if (selectedCoursse != "") {
                chkResult2 = true;
                if (IsOrders == 1) {
                    $("#divRefundOrderList").hide();
                    $("#divOrderList").show();
                    BindOrders();
                }
                else if (IsOrders == 0) {
                    $("#divRefundOrderList").show();
                    $("#divOrderList").hide();

                    BindRefundedOrders();
                }
                else {
                 //   alert("Please select a Bind Option or/and Course.");
                    showStickMessage('Please select a bind option or/and Course.');
                }
            }
            else {
               // alert("Please select a course.");
                showStickMessage('Please select a course.');
                return false;
            }
        }
        else {
          //  alert("Please select Orders or Refunded Orders to bind.");
            showStickMessage('Please select Orders or Refunded Orders to bind.');
            return false;
        }
    }
    function BindOrders() {
       
        var selectedCoursse = "";
        debugger;
        if ($('#hdnCourseId').val() != "") {
            selectedCoursse = $('#hdnCourseId').val();
           
        }
        else {
            selectedCoursse = $("#CourseId").val();
        }
        bindJqGridNoMultiSelect('list', 'pager', 'GetOrdersList',
                ['ID', 'Date', 'OrderID', 'GolferName', 'Action'],

                [{ name: 'ID', index: 'ID', width: 10, hidden: true },
                    { name: 'Date', index: 'ExpiryDate', width: 50, formatter: 'date', formatoptions: { srcformat: 'U', newformat: 'm/d/Y' } },
                    { name: 'ID', index: 'ID', width: 50, classes: 'zzz' },

                    { name: 'GolferName', index: 'GolferName', width: 50 },
                    { name: 'Action', index: 'PromoType', width: 50, formatter: SetEditLink },
                    
                    
                ], 'ID', 'desc',
                {
                    "searchText": (function () {
                        return $("#txtSearch").val();
                    }),
                    "fromDate": (function () {
                        return $("#txtDate").val();
                    }),
                    "toDate": (function () {
                        return $("#txtToDate").val();
                    }),
                    "CourseId": (function () {
                        return selectedCoursse;
                    })

                }, '');
    }
    function BindRefundedOrders() {
        var selectedCoursse = "";
       // debugger;
        if ($('#hdnCourseId').val() != "") {
            selectedCoursse = $('#hdnCourseId').val();

        }
        else {
            selectedCoursse = $("#CourseId").val();
        }
        bindJqGridNoMultiSelect('list2', 'pager2', 'GetRefundOrdersList',
                ['ID', 'Date', 'OrderID', 'GolferName', 'Refund Type', 'Refund Amt', 'Action',  'Refunded By'],

                [{ name: 'ID', index: 'ID', width: 10, hidden: true },
                    { name: 'Date', index: 'ExpiryDate', width: 50, formatter: 'date', formatoptions: { srcformat: 'U', newformat: 'm/d/Y' } },
                    { name: 'OrderID', index: 'OrderID', width: 50, classes: 'zzz' },
                    { name: 'GolferName', index: 'GolferName', width: 50 },
                    { name: 'RefundType', index: 'RefundType', width: 50 },
                    { name: 'RefundAmt', index: 'RefundAmt', width: 50 },
                    { name: 'Action', index: 'PromoType', width: 50, formatter: SetViewLink },
                     { name: 'RefundedByName', index: 'RefundedByName', width: 50 },
                ], 'ID', 'desc',
                {
                    "searchText": (function () {
                        return $("#txtSearch").val();
                    }),
                    "fromDate": (function () {
                        return $("#txtDate").val();
                    }),
                    "toDate": (function () {
                        return $("#txtToDate").val();
                    }),
                    "CourseId": (function () {
                        return selectedCoursse;
                    })

                }, '');
    }

    function SetEditLink(cellvalue, options, rowObject) {

        var Eid = rowObject["ID"];
        if ( $('#UpdateFlag').size() != 0 && $('#UpdateFlag').val() != "True")
            return "<a href='javascript:void(0)' onclick=javascript:NonAccessMsg(); >Refund</a>";
        else {
            if ($('#hdnCourseId').val() != "") {
                return "<a href='/Golfler/CourseAdmin/ProcessRefundadd?orderId=" + Eid + "&refundId=0' >" + "Refund" + "</a>";
            }
            else {
                return "<a href='/Golfler/Admin/AdminProcessRefundadd?orderId=" + Eid + "&refundId=0' >" + "Refund" + "</a>";
            }
        }
    }
    function SetViewLink(cellvalue, options, rowObject) {

        try {
            var id = rowObject["ID"];
            var orderid = rowObject["OrderID"];
            if ($('#hdnCourseId').val() != "")
            {
                return "<a href='/Golfler/CourseAdmin/ProcessRefundadd?orderId=" + orderid + "&refundId=" + id + "' >" + "View" + "</a>";
            }
            else {
                return "<a href='/Golfler/Admin/AdminProcessRefundadd?orderId=" + orderid + "&refundId=" + id + "' >" + "View" + "</a>";
            }

        }
        catch (ex) {
           // alert(ex.message);
            showStickMessage(ex.message);
        }
    }
</script>
<tr>
    <td class="id_pathway" valign="middle">
        <div class="breadcrumb">
            <ul>
                <li><a href='@Url.Action("Dashboard")'>Dashboard</a><img src="/Content/Images/arrow.png"
                    class="arrow_position" /></li>
                <li>Manage @ViewBag.Module</li>
            </ul>
            <div class="clr">
            </div>
        </div>
    </td>
</tr>
<tr>
    <td id="content_center_td2" valign="top" align="center">
        <div class="form_box">
            <div class="search-advertiser">
                <label>
                    Search</label>
                <input type="radio" name="Orders" value="Orders" id="Orders" style="float:none;">Orders<br />
                <input type="radio" name="Orders" value="RefundedOrders" id="RefundedOrders" style="float:none;">Refunded Orders<br />
                <br />
                @if(@Golfler.Models.LoginInfo.Type=="SA")
                {
                  @Html.DropDownList("CourseIds", (SelectList)(ViewBag.CourseIds), "Select Course", new { @id = "CourseId", @class = "red-border" })
                }
        

                <br />
                <br />
                <br />
                <input type="text" placeholder="Order Number, Customer Name" name="searchText" id="txtSearch"
                    class="searchfeild jqGrid_refreshKey adname" value="" style="margin-bottom: 2px;"
                    size="30" />
                <label class="width22 vacdate width19">
                    From</label>
                <input type="text" placeholder="Date From" id="txtDate" style="width: 7%;" class="datepicker spacingt5 adname-1  datefeild border_process adname calc_icon ">

                <label class="width22 vacdate width19 width_auto clear-new">
                    To</label>
                <input placeholder="Date To" type="text" id="txtToDate" style="width: 7%;" class="datepicker spacingt5 adname-1  datefeild border_process adname calc_icon ">

                <img src="/Content/Images/search_icon.png" border="0" alt="search" class="go-btn floatleft jqGrid_refresh"
                    id="fbox_jqgAdminUser_search" onclick="return BindData();" />
                <div class="clr">
                </div>

            </div>
            <div class="clr">
            </div>
        </div>
        <div id="page-wrap">
            <div id="divOrderList">
                <table id="list" cellpadding="0" cellspacing="0" style="width: 97%;" class="jqgridTable">
                </table>
                <div id="pager" style="width: 100%;">
                </div>
            </div>
            <div id="divRefundOrderList">
                <table id="list2" cellpadding="0" cellspacing="0" style="width: 97%;" class="jqgridTable">
                </table>
                <div id="pager2" style="width: 100%;">
                </div>
            </div>
            <input type="hidden" id="hdnId" value='@Golfler.Models.LoginInfo.UserId' />
             <input type="hidden" id="hdnCourseId" value='@ViewBag.CourseId' />
        </div>
    </td>
</tr>

