@using Golfler.Models

@Html.Partial("_jqGrid")
<style>
    .tempwidth {
        width: 40% !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $(".choose_inner_department").addClass("tempwidth");
      
        //if (!$('#AddFlag').val().trim()) {
        //    $('#addNewUser').hide();
        //}
        //else {
        //    $('#addNewUser').show();
        //}
        
        //var isShowCourseName = '@LoginInfo.IsSuper' == 'True' ? false : true;
        var isShowCourseName = '@LoginInfo.Type' == 'SA' || '@LoginInfo.Type' == 'A' ? false : true;
        
        bindJqGridMin('list', 'pager', 'GetUserList',
                ['ID', 'Username', 'First Name', 'Last Name', 'Email', 'User Type', 'Role', 'Course Name', 'Created Date', 'Last Login Date', 'Active', 'DoActive'],
                [   { name: 'ID', index: 'ID', width: 10, hidden: true },
                    { name: 'UserName', index: 'UserName', width: 50, formatter: SetEditLink, classes: 'zzz' },
                    { name: 'FirstName', index: 'FirstName', width: 50 },
                    { name: 'LastName', index: 'LastName', width: 50 },
                    { name: 'Email', index: 'Email', width: 50 },
                    { name: 'UserType', index: 'UserType', sortable: true, width: 40 },
                    { name: 'Role', index: 'Role', sortable: true, width: 30, align: 'center' },
                    { name: 'CourseName', index: 'CourseName', sortable: true, width: 30, align: 'center', hidden: isShowCourseName },
                    { name: 'CreatedOn', index: 'CreatedOn', width: 50, formatter: 'date', formatoptions: { srcformat: 'U', newformat: 'm/d/Y' } },
                    { name: 'LastLogin', index: 'LastLogin', width: 50, formatter: 'date', formatoptions: { srcformat: 'U', newformat: 'm/d/Y' } },
                    { name: 'Active', index: 'Active', width: 50, sortable: false, formatter: SetActiveInActive, align: "center" },
                    { name: 'DoActive', index: 'DoActive', hidden: true }
                ], 'ID', 'desc',
                {
                    "searchText": (function () {
                        return $("#txtSearch").val();
                    })

                }, '');
    });

    SetActions = function (cellvalue, options, rowObject) {
        try {
            var id = rowObject["EID"];
            if ($('#UpdateFlag').size() != 0 && $('#UpdateFlag').val() != "True") {
                return "<a href='#' onclick='showStickMessage(&quot;You are unautherized to perform this action.&quot;)'>Send Message</a>";
            }
            else if (rowObject["DoActive"] == false || rowObject["DoActive"] == 'false')
                return "";
            else {
                return "<a href='SendAdminMessage/" + id + "'>Send Message</a>";
            }
        }
        catch (ex) {
            alert(ex.message);
        }
    }

    function DeleteUsers() {
        try {
            var multipleIds = [];
            for (var i in jsonCheckData) {
                multipleIds.push(jsonCheckData[i].Id);
            }
            DeleteMultipleMethod('list', '@Url.Action("DeleteUsers")', multipleIds);
            ActionDone();
        }
        catch (ex) { alert(ex.message); }
    }

    function ActionDone() {
        if (parseInt(jsonCheckData.length) === 0) {
            $('#recordCount').text(parseInt(jsonCheckData.length));
            $.fancybox.close();
        }
    }

    function SetInviteEmail(cellvalue, options, rowObject) {
        try {
            var Eid = rowObject["EID"];
            if (cellvalue == true)
                return 'Sent';
            else
                return 'Resend';
        }
        catch (ex) { alert(ex.message); }
    }

    function SetEditLink(cellvalue, options, rowObject) {

        try {
            var Eid = rowObject["EID"];
            var type = rowObject["Type"];
            var doActive = rowObject["DoActive"];
            if ($('#UpdateFlag').size() != 0 && $('#UpdateFlag').val() != "True")              
                return "<a href='javascript:void(0)' onclick=javascript:showActionInactMsg(); >" + cellvalue + "</a>";
            else
                return ((type == true || type == "true") || (doActive == "false" || doActive == false)) ? "<a href='UserAddEdit/" + Eid + "' >" + cellvalue + "</a>" : cellvalue;

            //return "<a href='UserAddEdit/" + Eid + "' >" + cellvalue + "</a>";
        }
        catch (ex) { alert(ex.message); }
    }

    function showActionInactMsg() {
        showStickMessage('You are unautherized to perform this action.');
        return false;
    }
    


</script>
<tr>
    <td class="id_pathway" valign="middle">
        <div class="breadcrumb">
            <ul>
                <li><a href='@Url.Action("Dashboard")'>Dashboard</a><img src="/Content/Images/arrow.png"
                    class="arrow_position" /></li>
                <li>Manage @ViewBag.Module</li>
            </ul>
            <div class="clr">
            </div>
        </div>
    </td>
</tr>
<tr>
    <td id="content_center_td2" valign="top" align="center">
        <div class="form_box">
            <div class="search-advertiser">
                <label>
                    Search</label>
                <input type="text" placeholder="Username/Full Name/Email" name="searchText" id="txtSearch"
                    class="searchfeild jqGrid_refreshKey adname" value="" style="margin-bottom: 2px;"
                    size="30" />
                <img src="/Content/Images/search_icon.png" border="0" alt="search" class="go-btn floatleft jqGrid_refresh"
                    id="fbox_jqgAdminUser_search" />
                <div class="clr">
                </div>
                <div style="border-top: 1px solid silver; padding-top: 12px; margin-top: 12px;">
                    <input id="addNew" type="button" value="New User" class="newuser blu-btn margin_bottom5" onclick="javascript:window.location='@Url.Action("UserAddEdit")    ';" action="add" />
                    <input id="aDeletePopup" type="button" value="Delete" class="delete blk-btn margin_bottom5" action="delete" />
                </div>
            </div>
            <div class="clr">
            </div>
            <div class="em nop" style="display: none;">
                <label>
                </label>
                Use blank search to see all records
            </div>
            <div style="float: right; margin-top: -23px;">
                <a href="#myModelSelected" id="SelectedRecords" style="color: black">
                    <label id="recordCount">
                        0</label>
                    Record(s) Selected</a>
            </div>
            <div class="clr"></div>
            <div id="page-wrap">
                <table id="list" cellpadding="0" cellspacing="0" style="width: 100%;" class="jqgridTable">
                </table>
                <div id="pager" style="width: 100%;">
                </div>
                <input type="hidden" id="hdnId" value='@Golfler.Models.LoginInfo.UserId' />
            </div>
            <div class="clr"></div>
        </div>
    </td>
</tr>
<input type="hidden" id="hdnConfirm" />

<div id="myModelSelected" class="reveal-modal" style="display: none; top: 100px; height: 500px;">
</div>
<script type="text/javascript">

    $(function () {
        var actionName = '';

        $(document).delegate('#aDeletePopup', 'click', function (e) {
            actionName = 'delete';
            $('#SelectedRecords').click();
        });

        $('a[href="#myModelSelected"]').fancybox({
            'scrolling': 'no',
            'onStart': function () {
                $('#selectedData').empty();
                $('#myModelSelected').empty();

                var divContent = '<div class="pop_detail"><h1>Selected User Details</h1><div id="tableContainer" class="page-wrap" style="height: 400px; overflow-x: scroll;border: 1px solid #EAEAEA;">';
                divContent = divContent + '<table id="selectedData" class="voucher-details-table"></table></div></div>';
                divContent = divContent + '<div class="clr"></div><div class="margin-top15"></div><div align="center" class="center-button">';
                if (actionName == 'delete' && jsonCheckData.length > 0) {
                    divContent = divContent + '<input id="aDelete" type="button" value="Delete" class="delete blk-btn margin_bottom5" onclick="javascript:DeleteUsers();" action="delete" />';
                }
                else {
                    //Do Nothing
                }
                divContent = divContent + '<input type="button" id="close" value="Close" class="cancel-btn blk-btn margin_bottom5" onclick="$.fancybox.close();" />';
                divContent = divContent + '</div><br /><div class="clear"></div>'

                $('#myModelSelected').append(divContent);

                if (jsonCheckData.length > 0) {
                    $("#myModelSelected").css("display", "block");
                    if (actionName == 'aGroup') {
                        $('#myModelSelected').css('height', '620px');
                    }
                    else {
                        $('#myModelSelected').css('height', '550px');
                    }
                    $('#selectedData').append('<tr><td class="align-left"><strong>Username</strong></td><td class="align-left"><strong>Email</strong></td><td class="align-left"></td></tr>');
                    for (var i in jsonCheckData) {
                        $('#selectedData').append('<tr><td class="align-left">' + jsonCheckData[i].UserName + '</td><td class="align-left">' + jsonCheckData[i].Email + '</td><td class="align-left"><input id="aRemove" value="Unselect" class="delete blk-btn margin_bottom5" type="button" data-record="' + jsonCheckData[i].Id + '" /></td></tr>');
                    }
                }
                else {
                    $("#myModelSelected").css("display", "block");
                    $('#myModelSelected').css('height', 'auto');
                    $('#tableContainer').css('height', 'auto');
                    $('#selectedData').append('<tr><td class="align-left">No Record(s) selected.</td></tr>');
                }

                actionName = '';
            },
            'onClosed': function () {
                $("#myModelSelected").parent().css('overflow', 'hidden');
                $("#myModelSelected").hide();
            }
        });

        //jsonCheckData this json variable is declare in JqGridCommonFunctions.js script file
        $(document).delegate('input:checkbox[name*=jqg_list_]', 'click', function (e) {

            var data = $(this).parents('tr:eq(0)');

            for (var i in jsonCheckData) {
                if (jsonCheckData[i].Id === $(data).find('td:eq(1)').text()) {
                    jsonCheckData.splice(i, 1);
                }
            }

            if ($(this).is(':checked')) {
                item = {};
                item["CheckBoxId"] = $(this).attr('id');
                item["Id"] = $(data).find('td:eq(1)').text();
                item["UserName"] = $(data).find('td:eq(2)').text();
                item["Email"] = $(data).find('td:eq(5)').text();
                jsonCheckData.push(item);
            }
            $('#recordCount').text(parseInt(jsonCheckData.length));
            console.log(jsonCheckData);
        });

        $(document).delegate('#cb_list', 'click', function (e) {

            $.each($('input:checkbox[name*=jqg_list_]'), function () {

                var data = $(this).parents('tr:eq(0)');

                for (var i in jsonCheckData) {
                    if (jsonCheckData[i].Id === $(data).find('td:eq(1)').text()) {
                        jsonCheckData.splice(i, 1);
                    }
                }

                if ($(this).is(':checked')) {
                    item = {};
                    item["CheckBoxId"] = $(this).attr('id');
                    item["Id"] = $(data).find('td:eq(1)').text();
                    item["UserName"] = $(data).find('td:eq(2)').text();
                    item["Email"] = $(data).find('td:eq(5)').text();
                    jsonCheckData.push(item);
                }
            });

            $('#recordCount').text(jsonCheckData.length);
            console.log(jsonCheckData);
        });

        $(document).delegate('#aRemove', 'click', function (e) {

            if (confirm('Are you sure you want to unselect user.')) {
                for (var i in jsonCheckData) {
                    if (jsonCheckData[i].Id === $(this).attr('data-record')) {
                        $(this).closest('tr').remove();
                        jsonCheckData.splice(i, 1);
                        $('#recordCount').text(jsonCheckData.length);
                        $("#list").trigger("reloadGrid", [{ current: true}]);
                    }
                }
            }

            if (jsonCheckData.length === 0) {
                $('#selectedData').empty();
                $('#selectedData').append('<tr><td class="align-left">No Record(s) selected.</td></tr>');
                $('#aDelete').remove();
                $('#aAssign').remove();
                $('#aUnassign').remove();
            }

        });

    });
</script>
